
.my-top-nav-wrapper {

    background-color: white; 
    padding: 1rem 1.5rem;
}

.header-title > h4 {

    font-weight: 700;
    font-size: 1.6rem;
}

.header-title > h6 {

    color: lightgray;
    font-size: .8rem;
}

.header-date  > .bi{

    font-size: .7rem ;
}

.search-bar > input {

    background-color: rgb(235, 235, 235);
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: .5rem 3rem;
}

.search-bar > .bi {

    background-color: rgb(235, 235, 235);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: .5rem 0rem .5rem .7rem;
}

.my-wrapper-icons > .bi  {

    margin: 0 .3rem;
    color: rgb(211, 210, 216);
}

#my-header-chevron {

    font-size: .8rem;
    font-weight: 700;
}


.box-profile {

    background-color:rgb(250, 250, 251);
    padding: .4rem .7rem;
    border-radius: 10px;
}


.box-image > img {

    width: 100%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 .9rem 0 .1rem;
}

.user-name-box > h6 {

    font-size: .9rem;
}

.user-name-box > p {

    font-size: .7rem;
}

