
.my-top-nav-wrapper {

    /* background-color: rgb(185, 11, 11); */
    /* height: 15vh; */ 
    padding: 1rem 1.5rem;
}

.title h4 {

    font-weight: 700;
    font-size: .9rem;
}

.title h6 {

    color: lightgray;
    font-size: .7rem;
}

.search-bar input {

    background-color: rgb(218, 219, 221);
    border: none;
    padding: .7rem 3rem;
    background-image: url('http://i47.tinypic.com/r02vbq.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.my-wrapper-icons > .b1  {

    margin: 0 .3rem;
}


.box-profile {

    background-color:rgb(218, 219, 221);
    padding: .2rem 1rem;
    border-radius: 10px;
}

.box-image {

    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 50%;
    margin: 0 .5rem;
}